[net]
download_bw=0
upload_bw=0
firewall_policy=2
nat_address=chime.dyndns-free.com
stun_server=stun.ideasip.com
mtu=0

[sip]
sip_port=5060
guess_hostname=1
contact=sip:11012017504@ideasip.com
inc_timeout=15
use_info=0
use_ipv6=0
default_proxy=0
use_rfc2833=0
register_only_when_network_is_up=1

[rtp]
audio_rtp_port=5004
video_rtp_port=9078
audio_jitt_comp=60
video_jitt_comp=0
nortp_timeout=30

[sound]
playback_dev_id=ALSA: plughw:0,0
ringer_dev_id=ALSA: USB  AUDIO
capture_dev_id=ALSA: plughw:0,0
local_ring=/usr/share/sounds/linphone/rings/oldphone.wav
remote_ring=/usr/share/sounds/linphone/ringback.wav
echocancelation=0
echocancellation=0

[video]
enabled=0
show_local=0
display=0
capture=0
size=cif
self_view=0

[audio_codec_0]
mime=speex
rate=32000
enabled=1

[audio_codec_1]
mime=speex
rate=16000
enabled=1

[audio_codec_2]
mime=speex
rate=8000
enabled=1

[audio_codec_3]
mime=PCMU
rate=8000
enabled=1

[audio_codec_4]
mime=GSM
rate=8000
enabled=1

[video_codec_0]
mime=theora
rate=90000
enabled=1

[video_codec_1]
mime=H263-1998
rate=90000
enabled=1
recv_fmtp=CIF=1;QCIF=1

[video_codec_2]
mime=MP4V-ES
rate=90000
enabled=1
recv_fmtp=profile-level-id=3

[video_codec_3]
mime=x-snow
rate=90000
enabled=1

[video_codec_4]
mime=H263
rate=90000
enabled=1

[audio_codec_5]
mime=PCMA
rate=8000
enabled=1

[auth_info_0]
username=11012017504
passwd=TOBEFILLEDIN
realm="ideasip.com"


[auth_info_1]
username=11012017504
passwd=ABCDEFG
realm="free.tollfree4free.com"

[auth_info_2]
username=11012017504
passwd=ABCDEFG
realm="sip.tollfreegateway.com"

[auth_info_3]
username=garbagename
passwd=garbagepassword
realm="inum.net"

[proxy_0]
reg_proxy=sip:proxy.ideasip.com
reg_identity=sip:11012017504@ideasip.com
reg_expires=600
reg_sendregister=1
publish=0
dial_escape_plus=0


[proxy_1]
reg_proxy=sip:free.tollfree4free.com
reg_identity=sip:11012017504@free.tollfree4free.com
reg_expires=600
reg_sendregister=0
publish=0
dial_escape_plus=0

[proxy_2]
reg_proxy=sip:sip.tollfreegateway.com
reg_identity=sip:11012017504@sip.tollfreegateway.com
reg_expires=600
reg_sendregister=0
publish=0
dial_escape_plus=0

[proxy_3]
reg_proxy=sip:sip.inum.net
reg_identity=sip:883510072140757@inum.net
reg_expires=600
reg_sendregister=0
publish=0
dial_escape_plus=0

